@page
@model StefansSuperShop.Pages.Admin.Category.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categories.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categories.Picture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.Picture)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Categories.CategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
